<p>
    New hero:
      <input type="text" #box
              (keyup.enter)="addEmployee(box.value); box.value=''"
              placeholder="Employee name">
      <input id="knows-angular" type="checkbox" [(ngModel)]="knowsAngular"> knows angular
    </p>
    <p>
      <input id="mutate" type="checkbox" [(ngModel)]="mutate">Mutate array
    
    </p>
    
    <h4>Employees who knows angular (piped)</h4>
    <div >
      <div *ngFor="let employee of (employees | angularEmployeesImpure)">
        {{employee.name}}
      </div>
    </div>
    
    <h4>All employees (no pipe)</h4>
    <div id="all">
      <div *ngFor="let employee of employees">
        {{employee.name}}
      </div>
    </div>
    