<p>pipes works!</p>

<table>
<tr>
    <td><b>Date: </b></td>
    <td>{{date}}</td>
</tr>
<tr>
    <td><b>Date Pipe: </b></td>
    <td>{{date | date}}</td>
</tr>
<tr>
    <td><b>Date "MM/dd/yy": </b></td>
    <td>{{date | date:"MM/dd/yy" }}</td>
</tr>
<tr>
    <td><b>Date: </b> <button (click)="toggleFormat()">Toggle</button></td>
    <td>{{date | date:format}}</td>
</tr>
<tr>
    <td><b>Chaining: </b></td>
    <td>{{date |date | uppercase}}</td>
</tr>
<tr>
    <td><b>Exponential 2^5: </b></td>
    <td> <app-exponential-pipe></app-exponential-pipe></td>
</tr>
<tr>
    <td><b>Number Pipe: </b></td>
    <td> <p>e (no formatting): {{e | number}}</p>
    <p>e (4.5-5): {{e | number:'4.5-5'}}</p>
    <p>pi (3.1-5): {{pi | number:'3.1-5'}}</p>
    <p>pi (3.5-5): {{pi | number:'3.5-5'}}</p>
    </td>
</tr>
<tr>
    <td><b>Currency: </b></td>
    <td><p> {{pi | currency}}</p>
    <p> {{pi | currency:"INR":"symbol"}}</p> </td>
</tr>
<tr>
    <td><b>Slice Pipe:</b></td>
    <td> <ul>
        <li *ngFor="let i of collection | slice:1:3">{{i}}</li>
      </ul></td>
</tr>


</table>
<br>
<b>Exponential Calc: </b>
<app-exponentialcalc></app-exponentialcalc>

<br>
<b>Angular Employees (pure pipe):</b>
<app-angular-employee></app-angular-employee>

<br>
<b>Angular Employees (impure pipe):</b>
<app-angular-employee-impure></app-angular-employee-impure>

<br>
<b> AsyncPipe: </b>
<app-async-pipe></app-async-pipe>

<br>
<br>

<b> JSON Pipe: </b>
<app-json-list></app-json-list>

<br><br>
<app-async-promise></app-async-promise>
<br><br><br>