<p>binding works!</p>

<h4>ngStyle:</h4>
<span [appShadow]="'hotpink'"
      [appShadowX]="'12px'"
      [appShadowY]="'6px'"
      [appShadowBlur]="'30px'">Custom Directive</span>
 <br><br>   
   
 <h4>ngClass:</h4>
 <div class="container">
     <div *ngFor="let car of cars" [ngClass]="{
       'alert-primary':car.name === 'MG Hector',
       'alert-secondary':car.name === 'Ford',
       'alert-success':car.name === 'Kia',
       'alert-danger':car.name === 'BMW',
       'alert-warning':car.name === 'Jaguar',
       'alert-info':car.name === 'Suzuki'
     }">
       {{ car.name }}
     </div>
   </div>
   

 <br><br>
      <div>
       <input [value]='propBinding'>  
        </div>
        <br><br>  <br><br>
        <div class="container">
          <h4>Two Way Binding</h4>
          <input [(ngModel)]='name' />
          <br/>
          <h5>Hello {{name}}</h5>
          </div>
<br><br><br>
<div *ngIf="isLoggedIn; else isLoggedOut">
   <h4>If block</h4>  Logged In
   </div>

   <ng-template #isLoggedOut>
   <h4>Else block</h4>  Logged Out
   </ng-template>
<br><br>
<ng-container
*ngIf="logIn; then logIn; else logOut">
</ng-container>

<ng-template #logIn>
  <h4>Then block</h4> Hello, Admin
</ng-template>

<ng-template #logOut>
  <h4>Else block</h4> Please Signin
</ng-template>

<br><br>
<h4>ngSwitch:</h4>

<ul [ngSwitch]="superhero">
     <li *ngSwitchCase="'Groot'">Groot</li>
     <li *ngSwitchCase="'Ironman'">Ironman</li>
     <li *ngSwitchCase="'Hulk'">Hulk</li>
     <li *ngSwitchCase="'Thor'">Thor</li>
     <li *ngSwitchCase="'Spiderman'">Spiderman</li>
     <li *ngSwitchDefault>Batman</li>
   </ul>

   <br><br>
   <h4>ngFor with ngSwitch:</h4>
   <div *ngFor="let car of Cars" [ngSwitch]="car.color">
     <div *ngSwitchCase="'blue'"
         class="blue">
       {{ car.name }} ({{ car.color }})
     </div>
     <div *ngSwitchCase="'yellow'"
         class="yellow">
       {{ car.name }} ({{ car.color }})
     </div>
     <div *ngSwitchCase="'silver'"
         class="silver">
       {{ car.name }} ({{ car.color }})
     </div>
     <div *ngSwitchCase="'red'"
         class="red">
       {{ car.name }} ({{ car.color }})
     </div>
     <div *ngSwitchDefault
         class="text-warning">
       {{ car.name }} ({{ car.color }})
     </div>
   </div>
   <br><br><br>