<p>observable works!</p>
<div class="container">
    <div class="row" >
        <div  *ngFor="let student of students">
            <div class="col md-6">
                    <h5 class="card-title">{{ student.name }}</h5>
                    <h6 class="card-subtitle">{{ student.enrollmentnumber }}</h6>
                    <p class="card-text">{{ student.college }}</p>
                    <p class="card-text">{{ student.university }}</p>
                    <a class="btn btn-primary" href="#" >Go somewhere</a>
                
            </div>
        </div>
    </div>
  </div>
  